input {
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: right;
}

.left {
  margin-right: 40px;
}
.left-col {
  flex: 1;
}
/* .right-col {
    width: 600px;
} */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
.navbar .search {
  flex: 1;
  /* justify-content: center; */
}
.main {
  display: flex;
  margin-top: 70px;
}
.main .right-col {
  width: 400px;
  margin-left: auto;
}
.navbar-search-btn {
  background-color: #f8f8f8;
  padding: 0 20px;
  align-self: center;
  border: none;
  border-left: 1px solid #d3d3d3;
}
.navbar-search {
  flex: 1;
  width: 90%;
  height: 34px;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding-left: 15px;
  font-size: 1.02rem;
  box-shadow: inset 0px 0px 2px #d3d3d3;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  height: 60px;
  background: white;
  /* background-color: aqua; */
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
.icons {
  display: flex;
  justify-content: space-between;
}
.comment {
  display: flex;
}
.comment img {
  border-radius: 50%;
}
.comment .userdata {
  margin: 0px 14px;
}
.username {
  font-weight: bold;
}
.time {
  color: lightgrey;
}
