.left-col {
  background-color: bisque;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
.navbar .search {
  flex: 1;
  /* justify-content: center; */
}
.main {
  display: flex;
  margin-top: 70px;
  /* border: 2px solid gray; */
}
.main .right-col {
  margin-left: auto;
}
.navbar-search-btn {
  background-color: #f8f8f8;
  padding: 0 20px;
  border: none;
  border-left: 1px solid #d3d3d3;
}
.navbar-search {
  width: 100%;
  height: 35px;
  border: none;
  padding-left: 15px;
  font-size: 1.05rem;
  box-shadow: inset 0px 0px 1px #d3d3d3;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
