body {
  font-family: "Roboto", sans-serif;
  margin-left: 8px;
}
h3 {
  font-weight: 500;
}
iframe {
  border: none;
}
.left {
  margin-right: 40px;
}
.left-col {
  flex: 1;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  z-index: 20;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
.navbar .search {
  flex-shrink: 3;
}
.main {
  display: flex;
  margin-top: 70px;
}
.main .right-col {
  width: 400px;
  margin-left: auto;
}
.navbar-search-btn {
  background-color: #f8f8f8;
  padding: 0 20px;
  align-self: center;
  border: none;
  border-left: 1px solid #d3d3d3;
}
.navbar-search {
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: right;
  flex: 1;
  width: 90%;
  height: 34px;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding-left: 15px;
  font-size: 1.02rem;
  box-shadow: inset 0px 0px 2px #d3d3d3;
}
.navbar .right {
  width: 300px;
  margin-left: auto;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  height: 60px;
  background: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
.icons {
  display: flex;
  justify-content: flex-start;
}
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.comment {
  display: flex;
  font-size: 14px;
  font-stretch: expanded;
}
.add-comment {
  flex: 1;
  width: 100%;
  height: 24px;
  margin-left: 10px;
  border: none;
  border-bottom: 0.02rem solid #d3d3d3;
  padding-left: 15px;
  font-size: 0.95rem;
  box-shadow: none;
}
.photo img {
  border-radius: 50%;
}
.comment .userdata {
  margin: 0px 14px;
}
.username {
  font-weight: bold;
}
.time {
  color: #747474;
}
#sub,
#cancel {
  position: absolute;
  right: 420px;
}
